:root {
  --main-font: "Trebuchet MS", Helvetica, sans-serif;
  --bright-green: rgb(191, 255, 62);
  --normal-green: yellowgreen;
  --content-colour: #a78f6f;
}

body {
  margin: 20px;
}

h1 {
  font-family: var(--main-font);
}

.button {
  background-color: var(--normal-green);
  border: none;
  padding: 4px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  border: 2px solid var(--normal-green);
}

.button1:hover {
  background-color: var(--normal-green);
}

.program-button {
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  color: white;
  padding: 10px;
}

.file-button {
  margin: 7px 0;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  color: white;
  padding: 0;
}

.file-img {
  border: tan;
  border-style: solid;
  border-width: 5px;
}

.prog-deselected {
  color: black;
  border-style: solid;
  border-width: 0px;
}

.prog-2 {
  background-color: var(--normal-green);
  color: black;
  border-style: solid;
  border-width: 0px;
}

.files-1 {
  background-color: var(--normal-green);
}

.tomato-light {
  background-color: tan;
}

.tomato-west {
  background-color: black;
  margin-bottom: 0;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  font-family: var(--main-font);
  color: white;
  background-color: black;
}

.navi-focus {
  color: black;
  border-style: solid;
  border-width: 4px 2px 4px 2px;
}

.menu-system {
  border-style: solid;
  text-align: center;
  color: black;
  background-color: var(--content-colour);
}

.menu-system-top {
  border-width: 3px 3px 0px 3px;
}

.menu-system-bottom {
  border-width: 0px 3px 3px 3px;
}

.button-focus {
  background-color: var(--bright-green);
  border-radius: 4px;
}

.title-text {
  max-width: 200px;
  font-family: var(--main-font);
  background-image: linear-gradient(to right, #00000029, #00000000);
  color: black;
  line-height: normal;
  text-align: left;
  font-size: 12pt;
  padding: 0 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.add-form {
  margin: 10px;
  font-family: var(--main-font);
  font-size: 10pt;
}

input[type="text"],
select,
textarea {
  border: solid 0px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.05);
  padding: 12px;
  font-family: var(--main-font);
  font-size: 10pt;
}

input[type="text"] {
  margin: 2px 0px 2px 0px;
}

select {
  margin: 20px 0px 20px 0px;
  width: 450px;
  height: 325px;
}

.col-25 {
  float: left;
  width: 25%;
}

.col-75 {
  float: left;
  width: 75%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_responsive_form */

div.scrollmenu {
  overflow-x: auto;
  white-space: nowrap;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--normal-green);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bright-green);
}
